.body{
    background-color: #121212;
}
.body_upper{
    display: flex;
    background: #121212;
    flex-direction: column;
    align-items: center;
}
h1{
   
    color: #ffffff;
}
.txtar{
    width: 70vw;    
    margin: 10px;
    display: flex;
    justify-content: center;
}
.text_area{
    max-width: 100%;
    background: #272727;
    padding: 10px;
    color: white;
}
.functional_buttons{
    display: flex;
    justify-content: left;
}
.btnn{
    border-radius: 50%;
    border-color: #ffffff;
    background-color: #121212;
    border-width: 2px;
    color: #ffffff;
   
}
.btnn:hover{
    opacity: 50%;
    color: aqua;
}